body, html, #header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}


.content-container{
    background-color: #5C84A9;
    display: flex;
    justify-content: center;
    height: 45rem;
    width: 30rem;  
    border-radius: 30px;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1-container{
    margin-top: 143px;
    margin-bottom: 51px;
}

.content{
    display: grid;
}

#btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer{
    padding-top : 2%;
    display: flex;
    justify-content: center;
}

