body{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.Title{
  height: 5rem;
  background-image: url(../public/images/come_along_with_me.png);
  background-position: top left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.Rain{
  grid-area: rain;
}
.Sunny{
  grid-area: sunny;
}
.Soil{
  grid-area: soil;
}
.Water{
  grid-area: water;
}
.Manual{
  grid-area: manual;
}

.Grid-Container{
  height: 32.65rem;
  display: grid;
  grid-template-areas: 
  'rain water soil'
  'rain water soil'
  'rain water manual';
  gap: 3px;
  background-color: burlywood;
  padding: 3px;
}

.Grid-Container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.signal_light{
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.weather_sun {
  height: 200px;
  width: 200px;
}

p.sun{
  color: #F1E700;
  font-weight: bold;
  font-size: 30px;
}

.weather_rainny {
  height: 300px;
  width: 300px;
}

p.rain{
  color: #2562FF;
  font-weight: bold;
  font-size: 30px;
}