body{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}


.Title{
  height: 5rem;
  background-image: url(../public/images/come_along_with_me.png);
  background-position: top left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.weather-sunny{
  color: white;
  grid-area: weather;
  background-image: linear-gradient(180deg, rgb(100, 198, 237), rgb(162, 255, 255), rgb(100, 198, 237),rgb(0, 72, 255));
}
.weather-rainny{
  color: rgb(140, 125, 238);
  grid-area: weather;
  background-image: linear-gradient(180deg, rgb(38, 87, 106), rgb(48, 120, 120), rgb(38, 87, 106),rgb(57, 67, 92));
}
.weather{
  height: 250px;
  width: 250px;
}
.weather-sunny p{
  color: #F1E700;
  font-weight: bold;
  font-size: 30px;
}
.weather-rainny p{
  color: rgb(91, 135, 223);
  font-weight: bold;
  font-size: 30px;
}

.soil{
  grid-area: soil;
  color: white;
  background-color: rgb(122, 90, 74);
}

.watering{
  grid-area: watering;
  background-color: beige;
}

.water-status{
  grid-area: water-status;
  background-image: linear-gradient(180deg, rgb(162, 255, 255), rgb(100, 198, 237), rgb(0, 72, 255));
}

.mode{
  grid-area: mode;
  background-color: azure;
}

.Grid-Container{
  height: 32.65rem;
  display: grid;
  grid-template-areas:
  'weather watering soil'
  'weather watering mode'
  'weather water-status mode'
  'weather water-status mode';
  gap: 3px;
  padding: 3px;
  background-color: rgb(30, 76, 30);
}
.Grid-Container > div {
  border: solid 1px rgb(150, 150, 150);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.soil-signal{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.signal-light{
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.signal-light-gray{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  filter: grayscale(70%);
}